.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
develop-eggs/
eggs/
extras/
netrc
parts/
var/
result
# files
.installed.cfg
.mr.developer.cfg
log.html
output.xml
report.html
requirements.txt
.cache/
.idea/
.netrc
