[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    base.cfg

[versions]
# we want recent packages for these
requests = 2.24.0
robotframework = 3.1.2
robotframework-selenium2library = 3.0.0
robotframework-seleniumlibrary = 4.4.0
robotsuite = 2.2.1
selenium = 3.141.0

# manual pinnings
Pygments = 2.5.1
configparser = 3.5.3
jsonschema = 2.6.0
plone.app.robotframework = 1.5.4
plone.testing = 8.0.1
docutils = 0.15.2
check-manifest = 0.41
pydocstyle = 3.0.0
###
